.hero {
  display: flex;
  align-items: center;
  justify-content: center;
}

.heroInner {
  display: flex;
  flex-direction: column;
  gap: 28px;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1100px;
}

.content h1 {
  margin: 0;
  font-size: 34px;
  font-weight: 800;
  line-height: 1.1;
  letter-spacing: -0.03em;
}

.content h1 span {
  display: inline-block;
  color: #df0014;
}

.content p {
  margin-top: 16px;
  font-size: 16px;
  line-height: 1.6;
  color: #111;
  font-weight: 600;
  max-width: 640px;
}

.actions {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  margin-top: 18px;
  font-size: 16px;
}

.visual {
  display: flex;
  justify-content: center;
  align-items: center;
}

.visual img {
  width: 100%;
  max-width: 380px;
  height: auto;
  display: block;
}

@media (min-width: 768px) {
  .heroInner {
    /* flex-direction: row; */
    gap: 40px;
    align-items: center;
  }

  .content h1 {
    font-size: 42px;
  }

  .content p {
    font-size: 20px;
  }

  .actions {
    font-size: 20px;
  }
}

@media (min-width: 1024px) {
  .heroInner {
    gap: 56px;
    flex-direction: row;
  }

  .content h1 {
    font-size: 52px;
  }
  .content p {
    font-size: 24px;
  }
  .actions {
    font-size: 22px;
  }

  .visual {
    justify-content: flex-end;
  }
}
