.contact {
  color: #111;
}

.container {
  max-width: 1100px;
}

.contact h2 span {
  color: #df0014;
}

.subtitle {
  text-align: center;
  font-size: 16px;
  line-height: 1.6;
  max-width: 600px;
  margin: 0 auto 30px;
  font-weight: 600;
}
.subtitle span {
  color: #df0014;
}
/* GRID */
.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
}

/* INFO */
.info {
  display: grid;
  gap: 16px;
}

.card {
  border: 2px solid #111;
  padding: 14px;
  background: #fff;
  box-shadow: 4px 4px 0 #df0014;
  transition: 0.2s ease;
}

.card:hover {
  transform: translateY(-4px);
}

.card h3 {
  margin-bottom: 6px;
  font-size: 14px;
  font-weight: 900;
}

.card a {
  color: #df0014;
  font-weight: 700;
  text-decoration: none;
}
.formLink {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* FORM */
.form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.form input,
.form textarea {
  border: 2px solid #111;
  padding: 12px;
  font-size: 14px;
  outline: none;
  transition: 0.2s ease;
  font-family: inherit;
}

.form input:focus,
.form textarea:focus {
  border-color: #df0014;
  box-shadow: 3px 3px 0 #df0014;
}

.form button {
  margin-top: 10px;
  padding: 12px;
  font-size: 14px;
  background: #df0014;
  color: #fff;
  font-weight: 900;
  border: 2px solid #111;
  cursor: pointer;
  transition: 0.2s ease;
}

.form button:hover {
  transform: translateY(-3px);
  box-shadow: 4px 4px 0 #111;
}

.form button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
  transform: none;
}

/* TABLET */
@media (min-width: 768px) {
  .grid {
    grid-template-columns: 1fr 1fr;
    align-items: start;
  }
}
.notice {
  margin-top: 12px;
  padding: 10px 12px;
  font-size: 13px;
  font-weight: 700;
  border: 2px solid #111;
  animation: pop 0.25s ease;
}

/* SUCCESS */
.success {
  background: #111;
  color: #fff;
  border-color: #df0014;
  box-shadow: 4px 4px 0 #df0014;
}

/* ERROR */
.error {
  background: #fff;
  color: #df0014;
  border-color: #df0014;
  box-shadow: 3px 3px 0 #111;
}

@keyframes pop {
  from {
    transform: translateY(5px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
