.whyUs {
  color: #fff;
  overflow: hidden;
}

/* TITLE */
.whyUs h2 {
  margin: 0 0 32px;
  text-align: center;

  font-size: clamp(26px, 5vw, 40px);
  font-weight: 800;
  line-height: 1.1;
  color: #000000;
}

.whyUs h2 span {
  color: #df0014;
}

/* GRID */
.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 18px;
}

/* CARD (MOBILE = С ОТДЕЛЬНЫМ ФОНОМ) */
.reason {
  display: flex;
  gap: 12px;
  align-items: flex-start;

  padding: 16px 14px;

  background-image: url("../../assets/whyus.png");
  background-repeat: no-repeat;
  background-size: 404px auto;
  background-position: center;

  transition: 0.25s ease;
}

/* лёгкий “хаос” */
.reason:nth-child(odd) {
  transform: rotate(-1deg);
}

.reason:nth-child(even) {
  transform: rotate(1deg);
}

/* hover */
.reason:hover {
  transform: translateY(-6px) rotate(0deg);
}

/* ICON */
.reason span {
  width: 28px;
  height: 28px;

  display: grid;
  place-items: center;

  flex: 0 0 28px;

  color: #df0014;
  border: 2px solid #df0014;
  border-radius: 50%;

  background: #000;
}

/* TEXT */
.reason h3 {
  margin: 0 0 6px;
  font-size: 16px;
  font-weight: 700;
}

.reason p {
  margin: 0;
  font-size: 14px;
  line-height: 1.5;
  color: rgb(226, 226, 226);
}

@media (min-width: 768px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .reason {
    background-size: 450px auto;
  }

  .whyUs h2 {
    font-size: 34px;
  }
}

@media (min-width: 1024px) {
  .whyUs h2 {
    color: #fff;
  }
  .reason {
    background-size: 500px auto;
  }
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
