:root {
  font-family: "Courier New", monospace;
  color: #111111;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

#root {
  min-height: 100vh;
}

body {
  background: #faf9f5; /* без градиентов */
  color: #111;
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
main {
  flex-grow: 1;
}

/* RESET */
* {
  font-family: "Courier New", monospace;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: linear-gradient(180deg, #fff, #faf9f5, #fff);
}
ul {
  padding: 0;
  list-style: none;
}

p {
  color: #111;

  font-weight: 600;
}
textarea {
  resize: none;
}
